@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,700&display=swap');
/*ALGEMEEN*/
body{
    font-family: 'Nunito', sans-serif;
    background-color: #EEF3F7;
}
h1{
    font-weight: 400;
}
p{
    font-weight: 100;
    font-size: 16px;
}
.btn{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 44px;
    padding-right: 44px;
    border-radius: 10px;
    margin-left: 16px;
    margin-right: 16px;
}
.primairy{
    background-color: #79E5F1;
}
.primairy a{
    color: black;
}
.primairy:hover{
    background-color: #5BC7D3;
}
.primairy:active{
    background-color: #97FFFF;
}
.hamburger{
    text-decoration: none;
    color: white;
    display: none;
}
.hidden{
    display: none;
}
.show{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
section{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}
/*HEADER*/
header{
    background: linear-gradient(to right, #7D4CFF, #9777F4);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 54px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header svg{
    width: 54px;
    height: 54px;
}
header nav{
    display: flex;
}
header nav ul{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    align-items: baseline;
}
header nav ul li{
    float: left;
    padding-left: 55px;
}
header nav ul li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
/*ARTICLE*/
article{
    width: 50%;
}
/*DESIGN ELEMENTS*/
.circle{
    width: 500px;
    height: 500px;
    max-width: 501px;
    min-width: 499px;
    max-height: 501px;
    min-height: 499px;
    border-radius: 50%;
    z-index: -1;
}
/*INTRO SECTION*/
#section-intro{
    background: linear-gradient(to right, #7D4CFF, #9777F4);
    color: white;
    padding-top: 40px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 80%;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
#section-intro article.info img{
    height: 30px;
}
#section-intro article.illustration{
    background-color: rgba(238, 243, 247, 0.2);
    border-radius: 50%;
    margin-bottom: -80px;
    transform: rotate(7.81deg);
    display: flex;
    justify-content: center;
}
#section-intro article.illustration img{
    max-height: 538px;

}
/*VISION AND REVIEWS SECTION*/
#section-vision,#section-mission, #section-reviews, #section-signUp{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
#section-vision article.illustration,#section-mission article.illustration, #section-reviews article.illustration, #section-signUp article.illustration{
    width: 30%;
    display: flex;
    padding: 40px;
    z-index: 1;
}
#section-vision article.illustration .circle, #section-reviews article.illustration .circle{
    background-color: rgba(151, 119, 244, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#section-vision article.illustration .circle img,#section-reviews article.illustration .circle img{
    height: 375px;
}
/*MISSION SECTION*/
#section-mission article.illustration .circle{
    background-color: rgba(82, 34, 208, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#section-mission article.illustration .circle img{
    height: 275px;
}
/*SECTION SIGNUP*/
#section-signUp{
    background-color: #E2EBF2;
    justify-content: center;
    margin: 24px;
    border-radius: 15px;
}
form{

}
/*Display schermen en kleine tablets*/
@media only screen and (max-width: 768px) {
    header nav{
        display: flex;
        direction: column;
    }
    header nav ul {
      display: none;
    }
    header nav ul li {
      display: block;
    }
    .hamburger {
      display: block;
    }
    article{
        width: 100%;
    }
    section{
        padding: 20px;
    }
    /*INTRO SECTION*/
    #section-intro{
        padding: 46px;
    }
    #section-intro article.illustration{
        display: none;
    }
    /*VISSION AND REVIEWS SECTION*/
    #section-vision, #section-mission, #section-reviews{
        flex-direction: column;
        gap: 0px;
    }
    #section-vision article.illustration, #section-mission article.illustration, #section-reviews article.illustration{
        width: 100%;
    }
    #section-vision article.illustration .circle img, #section-reviews article.illustration .circle img{
        height: 275px;
    }
    /*MISSION SECTION*/
    #section-mission article.illustration .circle img{
        height: 175px;
    }
    /*DESIGN ELEMENTS*/
    .circle{
        width: 300px;
        height: 300px;
        max-width: 301px;
        min-width: 299px;
        max-height: 301px;
        min-height: 299px;
        border-radius: 50%;
        z-index: -1;
    }
  }
  